# /etc/systemd/system/cassandra.service

[Unit]
Description=Cassandra
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64/jre
StandardOutput=journal
StandardError=journal
LimitNOFILE=100000
LimitMEMLOCK=infinity
LimitNPROC=32768
LimitAS=infinity
Restart=always
PIDFile=/var/run/cassandra/cassandra.pid

ExecStart=/usr/local/bin/elassandra-2.4.5.4/bin/cassandra -f -e -p /var/run/cassandra/cassandra.pid

[Install]
WantedBy=multi-user.target
RequiredBy=pm2-ubuntu.service # To make sure Cassandra starts before our pm2 apps. This would not really work if on separate server
